.cont-header{
    background: #83c3dc;
    padding: 8px;
    color: #fff;
    margin-bottom: 10px;
}
.flight-row-sep{
	border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
	display: inline-block;
}
.flight-row-sep .flight-name{
	width: 185px;
    float: left;
}
.flight-row-sep .flight-depart{
	  width: 200px;
    float: left;
}
.flight-row-sep .flight-arrival{
	  width: 200px;
    float: left;
}
#flights_info td:first-child span{
	padding: 10px;
    background: #fb7f7f;
    color: white;
    display: block;
    text-align: center;
    width: 108px;
}
#flights_info td{}
.flight-row{}
.row-message td{
	    padding: 10px;
    background: #ccc;
    color: #615d5d;
    width: 100%;
	    text-align: center;
}
.price-slider{}
.price-slider .slider_min{}
.price-slider .slider_max{}

.booking-form{
	border: 1px solid #ccc;
	padding: 12px;
}
.change-service{
	
}