<div class="container">
	<div class="row cont-header">
		<h4 class="pull-left">Flight Search Engine</h4>
		<span class="pull-right change-service">
		  <input type="checkbox" [checked]="realservice" (change)="changeService($event)">
		</span>
	</div>
	<div class="row">
        <div class="col-md-4 column booking-form">
		
			<form #bookingForm="ngForm" (ngSubmit)="actionSearch(bookingForm.value)">
				
					
					<tabset  type="pills" #staticTabs>
						<tab heading="One Way"  (select)="selectTab(1)"></tab>
						<tab heading="Round Trip"  (select)="selectTab(2)"></tab>						
					 </tabset>
					
					<div class="form-group row">					
						<div class="col-md-6 column">
							<label for="from">From</label>
							<select class="form-control"  name="from" id="from" required [(ngModel)]="from">
								<option *ngFor="let c of locationOption" [ngValue]="c.id">{{c.value}}</option>
							</select>
						</div>						
						<div class="col-md-6 column">
							<label for="to">To</label>
							<select class="form-control" name="to" required id="to" [(ngModel)]="to">
								<option *ngFor="let c of locationOption" [ngValue]="c.id">{{c.value}}</option>
							</select>
						</div>
						
					</div>
					
					<div class="form-group row">					
						<div class="col-md-6 column">
							<label for="ondate">Depart</label>						
							<input type="text"
							   class="form-control"
							   [minDate]="minDate"
							   [maxDate]="maxDate"
							   #dp="bsDatepicker"
							   required
							    (bsValueChange)="changeMinDate($event)"
							   [(ngModel)]="start" name="start"
							   bsDatepicker [(bsValue)]="bsValue">
						</div>						
						<div class="col-md-6 column" *ngIf="returnDate">
							<label for="returndate">Return</label>
							<input type="text"
							class="form-control"
							   [minDate]="minDate1"
							   [maxDate]="maxDate"
							   #dp="bsDatepicker"
							   required
							   [(ngModel)]="end" name="end"
							   bsDatepicker [(bsValue)]="bsValue1" >
						</div>											
					</div>
					
					<div class="form-group row">
					
						<div class="col-md-12">
							<label for="from">Passengers</label>
							
							
							<select class="form-control" name="n_adult" id="n_adult" required [(ngModel)]="n_adult">
							  <option *ngFor="let c of adultCount" [ngValue]="c" >{{c}}</option>
							</select>
						</div>						
						
					</div>
					
					<div class="form-group row price-slider">
						<div class="col-md-12">
						<label for="returndate">Price</label>
						<nouislider (change)="saveRange('first', $event)" [connect]="true" [min]="0" [max]="20000" [(ngModel)]="someRange" name="someRange"></nouislider>
						<span class="slider_min">{{sliderMin}}</span>
						<span class="slider_max pull-right">{{sliderMax}}</span>
						</div>
					</div>
					<button [disabled]="!bookingForm.form.valid" type="submit" id="search-flights"  class="btn btn-primary">Submit</button>
					
				</form>
				
			</div>
			<div class="col-md-8 column">
				<table class="table">
					<thead>
						<tr>
							<th>Price</th>
							<th>Flight Number</th>
							<th>Departure.</th>
							<th></th>
							<th>Arrival</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="flights_info">
					 
						<tr  *ngFor="let response_array of flights">
							
							<td><span>{{response_array.saleTotal}}</span></td>
							<td colspan="5">
								<div class="flight-row-sep" *ngFor="let r of response_array.slice">
									<div  class="flight-row" >
										<div class="flight-name">
											<b>Flight Name:</b> {{r.segment[0].flight.carrier}}-{{r.segment[0].flight.number}} 
										</div>
										<div class="flight-depart">
											<b>Depart:</b> {{r.segment[0].leg[0].departureTime| date: 'dd/MM/yyyy'}} 
											<p>{{r.segment[0].leg[0].departureTime| date: 'h:mm a'}} </p>
										  </div>
										<div class="flight-arrival">
											<b>Arrive:</b> {{r.segment[0].leg[0].arrivalTime| date: 'dd/MM/yyyy'}} 
											<p>{{r.segment[0].leg[0].arrivalTime| date: 'h:mm a'}} </p>
										</div>
									</div>
								<p><b>Flight Duration:</b> {{r.segment[0].duration/60%24 | number : '1.2-2'}}hrs</p>
								</div>
							</td>
						</tr>
						
						
						<tr  *ngFor="let response_array of flightss">
							
							<td><span>{{response_array.saleTotal}}</span></td>
							<td colspan="5">
								<div class="flight-row-sep" >
									<div  class="flight-row" >
										<div class="flight-name">
											<b>Flight Name:</b> {{response_array.flight_name}} 
										</div>
										<div class="flight-depart">
											<b>Depart:</b> {{response_array.dep_time| date: 'dd/MM/yyyy'}} 
											<p>{{response_array.dep_time| date: 'h:mm a'}} </p>
										  </div>
										<div class="flight-arrival">
											<b>Arrive:</b> {{response_array.arr_time| date: 'dd/MM/yyyy'}} 
											<p>{{response_array.arr_time| date: 'h:mm a'}} </p>
										</div>
									</div>
								
								</div>
							</td>
						</tr>

						<tr class="row-message">
						  <td colspan="6" *ngIf="flights?.length <= 0">{{rowMesz}}</td>
						</tr>

					</tbody>
				</table>
			</div>
    </div>
</div>


	



